.netrwhist
/bin/git-password
/emacs.d.sym/backups
/emacs.d.sym/elpa
/emacs.d.sym/recentf
/emacs.d.sym/projectile-bookmarks.eld
/emacs.d.sym/network-security.data
/emacs.d.sym/projectile.cache
/zshenv.private.sym
