.netrwhist
/bin/git-password
/emacs.d.sym/backups
/emacs.d.sym/elpa
/emacs.d.sym/recentf
/emacs.d.sym/projectile-bookmarks.eld
/emacs.d.sym/network-security.data
/emacs.d.sym/projectile.cache
/emacs.d.sym/.extension/
/emacs.d.sym/.last-package-update-day
/emacs.d.sym/.lsp-session-v1
/emacs.d.sym/custom-settings.el
/emacs.d.sym/transient/
/emacs.d.sym/.dap-breakpoints

/zshenv.private.sym
